<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="user-card hovercard">
        <div class="cardheader" style="background: url(<%= image_path 'cover1.jpg'%>)">
        </div>
        <div class="avatar">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, class: "avatar-bordered dropdown-toggle ml-3", id:"navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
          </div>
        <div class="info">
          <div class="title">
            <h1>Hello, <%= @user.username %></h1>
          </div>
          <div class="desc">Di-Wiser <%= @user.id %></div>
          <div class="desc">Curious developer</div>
          <div class="desc">Tech geek</div>
        </div>
        <div class="bottom">
          <a href="#"><i id="btn-twitter" class="fab fa-twitter"></i></a>
          <a href="#"><i id="btn-insta" class="fab fa-instagram"></i></a>
          <a href="#"><i id="btn-fb" class="fab fa-facebook"></i></a>
          <a href="#"><i id="btn-github" class="fab fa-github"></i></a>
        </div>
      </div>
<!-- Projects section -->
        <% if @user.projects.empty? && @user == current_user %>
          <div class="text-center container">
            <%= link_to new_project_path do %>
              <h3> Add a new project! <i class="fas fa-tools"></i></h3>
            <% end %>
          </div>
        <% else %>
         <!-- Top content -->
        <div class="row p-3">
          <p class="montserrat mr-3">Your projects</p>
          <%= link_to new_project_path do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </div>
          <div class="top-content">
            <div class="container-fluid p-0 h-50">
              <div class="mb-3 d-flex justify-content-around">
                <a href="#carousel-example" role="button" data-slide="prev">
                  <i class="fas fa-chevron-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
                <a href="#carousel-example" role="button" data-slide="next">
                  <i class="fas fa-chevron-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <div id="carousel-example" class="carousel slide row" data-ride="carousel">
                <div class="carousel-inner row w-100 mx-auto" role="listbox">
                  <% projects = @user.projects %>
                  <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
                    <div class="card mb-2">
                      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img (38).jpg"
                        alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title font-weight-bold"><%= projects.first.title %></h4>
                        <a class="btn btn-primary btn-md btn-rounded">Button</a>
                      </div>
                    </div>
                  </div>
                  <% projects.drop(1).each do |project| %>
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                      <div class="card mb-2">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img (38).jpg"
                          alt="Card image cap">
                        <div class="card-body">
                          <h4 class="card-title font-weight-bold"><%= project.title %></h4>
                          <a class="btn btn-primary btn-md btn-rounded">Button</a>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

<!-- Display chatrooms -->
      <% if @started_chatrooms.empty? && @user == current_user || @user == current_user %>
        <div class="container card p-3 user-card montserrat">
          I'VE MADE NO CHATROOMS
        </div>
      <% else %>
        <% @started_chatrooms.each do |chatroom| %>
          <div class="notification">
            <%= cl_image_tag chatroom.packet.photos.first.key, width: 150, height: 100 %>
            <div class="notification-content">
              <p><small><%= chatroom.created_at.strftime("%a %b %e at %l:%M%p") %></small></p>
              <p><strong><%= chatroom.packet.title %></strong> with <%= chatroom.packet.user.username %></p>
            </div>

            <div class="notification-actions">
              <%= link_to chatroom_path(chatroom) do %>
                Reply <i class="far fa-envelope-open"></i>
              <% end %>
              <%= link_to chatroom_path(chatroom), data: { confirm: "Are you sure?" }, method: :delete do %>
                Delete<i class="far fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

    <% if @packet_chatrooms.empty? && @user == current_user || @user == current_user %>
      <div class="container card p-3 user-card montserrat">
        NO CHATROOMS ON MY PACKETS
      </div>
    <% else %>
      <%  @packet_chatrooms.each do |chatroom| %>
        <div class="notification">
          <%= cl_image_tag chatroom.packet.photos.first.key, width: 150, height: 100 %>
          <div class="notification-content">
            <p><small><%= chatroom.created_at.strftime("%a %b %e at %l:%M%p") %></small></p>
            <p>
              <strong><%= chatroom.packet.title %></strong> with <%= chatroom.packet.user.username %>
            </p>
          </div>

          <div class="notification-actions">
            <%= link_to chatroom_path(chatroom) do %>
              Reply <i class="far fa-envelope-open"></i>
            <% end %>
            <%= link_to chatroom_path(chatroom), data: { confirm: "Are you sure?" }, method: :delete do %>
              Delete<i class="far fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

    </div>
  </div>
</div>

    <!-- <div class="container h-90"> -->

    <!-- </div> -->
