<% @packets.each do |packet| %>
	<div class = "card">
		<div class = "card-body text-primary">
		<%= link_to packet.title, packet_path(packet)  %>
	</div>

      <% if packet.video.attached? %>
        <iframe width='200px' height='200px' src="http://www.youtube.com/embed/<%= @packet.youtube_url %>", frameborder="0"></iframe>
      <% end %>
		<div class = "card-body text-secondary">
			<%= packet.description %>
			<strong><%= packet.category.name %></strong>
		</div>
<%# <iframe width="560" height="315" src="https://www.youtube.com/embed/DU-vHvogSqs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> %>

		<div class="d-flex justify-content-end align-items-center mb-3">
			<!-- check if the user has a packet rating already -->
      <% if packet.packet_ratings.where(user: current_user).empty? %>
        <%= link_to packet_packet_ratings_path(packet), method: :post, remote: true do %>
          <i class="fas fa-plus"></i>
        <% end %>
      <% end %>
			<span class="ml-1 mr-3 badge badge-warning p-2" id="packet-<%= packet.id %>"><%= packet.rating %></span>
		</div>
	</div>
<% end %>

