<div class='image' style="background-image: linear-gradient(180deg, rgba(196, 196, 196, 0.56) 0%, rgba(255, 255, 255, 0) 300%), url(<%= image_path 'wood.jpg' %>)">
  <div class="container p-3 d-flex justify-content-around align-items-center" style="height:calc(100vh - 137.75px)">
    <div class="col-8 h-100 d-flex justify-content-center align-items-center">
      <div class="card p-5">
        <div class="card-body">
        <div id="form-title">
          <div class="text-center project-title">
            What Project do you want to start?
          </div>
          <%= simple_form_for @project do |f| %>
          <div class="mt-3">
            <%= f.input :title, label: false, placeholder: 'e.g. Re-doing bathroom' %>
            <div class="button_cont" align="center">
            <%= f.button :submit, class: "example_e" %>
          </div>
            <%= link_to "Back", root_path, class: "back-button" %>
          </div>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
