<div class="container">
  <% if @packets.empty? %>
      <h2 class="mb-4">+ Add DIY lessons here!</h2>
      <div class="border-bottom" width="50%"></div>
      <div class="d-flex justify-content-between mx-5">
        <%= link_to "All Lessons", packets_path, class: "example_e" %>
        <%= link_to "Account", user_path(current_user), class: "example_e" %>
      </div>
  <% else %>
    <div class="container mt-4 d-flex justify-content-center">
      <h3><strong><%= @project.title %></strong></h3>
      <div class="border-bottom"></div>
    </div>
    <div class="d-flex justify-content-between mb-5">
      <%= link_to "All Lessons", packets_path, class: "example_e" %>
      <i class="fa fa-pencil-alt"></i>
      <%= link_to "Account", user_path(current_user), class: "example_e" %>
    </div>

    <div class="container">
      <h3>These are the tools you need:</h3>
      <div class="row justify-content-center p-5">
        <% @tools.each do |tool| %>
          <div class="col-3">
            <div class = "card tool-card ">
              <div class="container d-flex flex-column align-items-center py-2">
                <span class="tool-circle"><i class="<%= tool.icon_image %> tool-icon"></i></span>
                <strong><%= tool.name %></strong>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    </div>
    <div class="container grid pl-5 pr-5 pb-5">
      <div class="project-cards">
        <%= render 'shared/packet_card', packets: @packets %>
      </div>
    </div>
  <% end %>
</div>
