<div class="container p-3">
  <h1>All packets</h1>
  <div class="row">
    <% @packets.each do |packet| %>
      <div class="col-4">
        <div class="card p-3 mb-3">
          <div class="d-flex justify-content-between">
            <h3><%= packet.title %></h3>
            <p><%= packet.category %></p>
          </div>
          <p><%= packet.description %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="btn-group">
    <%= link_to "Packet", method: :put, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-up"></span>
      Upvote
      <%#= post.get_upvotes.size %>
    <% end %>
  </div><br>

  <%= link_to "Back", root_path, class: "btn btn-warning" %>
</div>

