<div class="container p-3 d-flex justify-content-around">
  <div class="col-6">
    <div class="card p-3">
      <div class= "card-header">Share Your DI-WISdom</div>
      <%= simple_form_for @packet do |f| %>
        <%= f.input :title, label: '1) Title your handy work!' %>
        <%= f.association :category %>
        <%= f.input :description, label: '3) Summarise your masterpiece', input_html: { maxlength: 120, size: 120} %>
        <%#= f.input :description, label: '4) Step by step (you can edit this later)', input_html: { maxlength: 500, size: 500} %>
        <%= f.input :photos, as: :file, input_html: { multiple: true }, label: '5) Show us photos of how it looks!' %>
        <%= f.input :video, as: :file, label: 'Upload your own video' %>
        <%= f.input :youtube_url, label: '6) Or paste a Youtube URL', input_html: { maxlength: 500, size: 500} %>
        <%#= f.input :text, as: :file, input_html: { multiple: true }, label: 'Show us how it looks!' %>
        <div class="d-flex justify-content-between">
          <%= f.button :submit, class: "btn btn-warning" %>
          <%= link_to "Back", root_path, class: "btn btn-warning" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- toggle

download video
OR
youtube video URL  -->

<!-- add URL to model + migrate, add input and params

On show (if packet.media.attached present show) -->
