<div class="container p-3 d-flex justify-content-around">
  <div class="col-12">
    <div class="card p-3">
      <h1><%= @packet.title %></h1>
      <p>Summary: <%= @packet.description %></p>

      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Photos</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Videos</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Step by step</a>
          <a class="nav-item nav-link" id="nav-tools-tab" data-toggle="tab" href="#nav-tools" role="tab" aria-controls="nav-tools" aria-selected="false">Tools + safety</a>
        </div>
      </nav>

      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <% @packet.photos.each do |photo| %>
            <%= cl_image_tag photo.key %>
          <% end %>
        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <% if !@packet.youtube_url.empty? && @packet.video %>
            <div>
              <iframe width='200px' height='200px' src="http://www.youtube.com/embed/<%= @packet.youtube_url %>", frameborder=""></iframe>
            </div>
            <div>
              <%= video_tag @packet.video, controls: true, crop: :fill %>
            </div>
          <% elsif !@packet.youtube_url.empty? %>
            <iframe width='200px' height='200px' src="http://www.youtube.com/embed/<%= @packet.youtube_url %>", frameborder=""></iframe>
          <% elsif @packet.video %>
            <%= video_tag @packet.video, controls: true, crop: :fill %>
          <% else %>
            NO VIDEO UPLOADED
          <% end %>
        </div>

        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          Step
        </div>

        <div class="tab-pane fade" id="nav-tools" role="tabpanel" aria-labelledby="nav-tools-tab">
          Tools
        </div>
      </div>


      <%= simple_form_for [@packet, @project_packet] do |f| %>
        <%= f.input :project, label: "Add this to my project", collection: current_user.projects %>
        <div class="d-flex justify-content-between">
          <%= f.submit 'Add this to one of your projects', class: "btn btn-warning" %>
          <%= link_to "Back", packets_path, class: "btn btn-warning" %>
        </div>
      <% end %>
      </div>

    </div>
  </div>
</div>



